*{box-sizing: border-box;} /* avoid any overflow of element */



/* Tags and selectors */

body {

	margin: 0;
	padding: 0;
	text-align: center;
	font-family: fantasy;
	height: 920px;
	

}

div img {

	width: 45%;
}


h1 {

	margin: 50px auto 0 auto;
	font-size: 55px;
	color: #464E2E;
	width: 100%; 
}


h2 {
	font-size: 1.5em;
	color: #54BAB9;
	width: 100%;
}

h3 {
	color: #54BAB9;
}




ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
}



li a {

	float: right;
	text-decoration: none;
	color: #488FB1;
	opacity: 1;
	font-family: fantasy;	
	font-size: 20px;
}


/* Ids and calsses */


/* 	 <!-- Nav Bar -->*/

.nav-warpper{
	position: absolute;
	margin: 0;
	border: 0;
	height: 170px;
	top: 0;
	background-color: #e0ebe8;
	width: 100%;
	min-height: 12.5vh;

}

.navbar {


	display: flex; 
	justify-content: space-between;
	align-items: center;
	height: 55px;
	position: relative;
	top: 40px;

}


.navbar-links ul{

	margin: 0;
	padding: 0;
	display: flex;

}

.navbar-links li {

	list-style: none;

}


.navbar-links li a {

	text-decoration: none;
	padding: 1rem;
	display: block;

}

.navbar-links li:hover {

	background-color:#E0DDAA;
	border-radius: 0.7rem;

}

.my-img {

	position: relative;
	width: 170px;
	right: 18px;
	bottom: 10px;

}

.toggle-button {

	position: absolute;
	top: 0.75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}


.toggle-button  .bar {

	height: 3px;
	width: 100%;
	background-color: black;

}


/* 	<!-- Title -->*/

.topContainer {

	position: relative;
	top: 7.5em;
	height: 85vh;
	width: 100%;
	
	background-color: #e0ebe8;

}




.mountain-wrapper {

	position: relative;
	height: 500px;
	width: 90%;
	margin: 0 auto 0 auto;
	/* Using flex method to set div in the bottom and center img */
	bottom: 380px;
	display: flex;
	justify-content: center;
	align-items: flex-end;



}


.mountain-wrapper img {


	width: 70%;
	max-height: 75%;
	min-height: 70%;
}



.topContainer img {

	position: relative;
	bottom: 82px;
	height: 60%;
	width: 90%;
	max-width: 1000px;
	min-width: 300px;

}


.textAlign {
	position: relative;
	top: 70px;

}


.textAlign  h2 {

	color: black;
	font-size: 20px;

}


/* 	 <!-- Introudction --> */

.middleContainer{
	bottom: 380px;
	position: relative;
	margin: 0 auto 0 auto;
	height: 510px;
	background-color: lightseagreen;


}

.middleContainer img {

	width: 15%;
	margin: 45px auto 10px auto;	

}

.profile {

	padding: 5px;
	width: 90%;
	margin: 0 auto 0 auto;
	height: 150px;


}

.profile h2 {

	
	font-size: 1.6em;
	/*color: #54BAB9;*/
	color: white;
	width: 80%;
	text-align: center;
	margin: 20px auto 0 auto;

}


.profile p {

	font-size: 1.4em;
	text-align: center;
	margin: 20px auto 0 auto;
	color: white;


}

/* 	 <!-- Skills --> */

.skills {

	position: relative;
	margin: 0 auto 5px auto;
	background-color: white;
	width: 100%;
	height: 800px;
	bottom: 24em;

}


.skills h2 {
	position: relative;
	bottom: 2px;
	font-size: 35px;
	background-color: white;
	margin: 0;
	opacity: 0.9;
	background-color:#e0ebe8;
	padding: 12px 0 12px 0;
}


.skill-row{

	position: relative;
	width: 70%;
	margin: 150px auto 30px auto;
	text-align: left;
	line-height: 2;
	bottom: 30px;
	height: 265px;

}

.skill-row2{

	position: relative;
	width: 70%;
	margin: 50px auto 10px auto;
	text-align: center;
	line-height: 2;
	height: 265px;


}


.skill-row p {

	font-size: 17px;
	text-align: left;

}

.skill-row h3 {

	font-size: 20px;
	text-align: left;


}



.skill-row2 h3 {

	font-size: 20px;
	text-align: right;
}



.skill-row2 p {

	font-size: 17px;
	text-align: right;

}


.code-img{
	width: 15%;
	min-width: 120px;
	max-width: 200px;
	float: left;
	margin: 10px 20px 20px 20px;

}


.chilli-img{
	width: 15%;
	min-width: 120px;
	max-width: 200px;
	float: right;
	margin: 10px 20px 20px 20px;
}





/* 	 <!-- Footer --> */



#footer {

	height: 20%;
}

.contact-me-wrapper {

	background-color: lightseagreen;
	position: relative;
	height: 300px;
	bottom: 350px;


}


.contact-me {

	
	position: relative;
	padding: 12px;
	height: 150%;
	top: 25px;
	width: 100%;
}




.contact-me h2 {

	font-size: 28px;
	margin: 15px auto;
	color: #1e836c;;

}

.contact-me h3 {

	font-size: 20px;	
	margin: 25px auto;
	color: #45b29a;;
}

.contact-me p {

	margin: 40px auto 0 auto;
	width: 75%;

}



.btn-wrapper {

	position: relative;
	background-color: white;
	height: 100px;
	margin: 0;
	border: 0;
	width: 100%;
	bottom: 350px;


}

.btn {

	background-color: white;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: fantasy;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	position: relative;
	margin: 0 auto 0 auto;
	top: 40px;


}

.btn:hover {

	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
}



.copyright-wrapper {

	position: relative;
	height: 130px;
	background-color:#e0ebe8;
	bottom: 350px;


}



.copyright {
	position: absolute;
	color: #54BAB9;
	font-size: 0.75em;
	padding: 2px  0;
	bottom: 0;
	left: 35%;
	width: 30%;
	background-color: white;
	border-radius: 10px;
}




/* media query for responsive design */

@media screen and (max-width: 600px)  {


	.toggle-button {

		display: flex;
	}

	.navbar-links{

		display: none; 
		width: 100%;

	}

	.navbar{

		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul {

		flex-direction: column;
		width: 100%;
	}

	.navbar-links li {


		text-align: center;
	}
	.navbar-links li a {

		padding: 0.5rem 1rem;
	}


	.navbar-links.active {

		display: flex;


	}

}

@media screen and (max-width: 557px)

{


	.skill-row{

		position: relative;
		padding: 0 10%;
		width: 100%;
		margin: 100px auto 30px auto;
		text-align: justify;
		text-align: left;
		line-height: 2;
		bottom: 30px;
		height: 265px;

}

.skill-row p {

	font-size: 0.9rem;
}


.skill-row2{

	position: relative;
	text-align: justify;
	padding: 0 10%;
	width: 100%;
	margin: 50px auto 10px auto;
	text-align: center;
	line-height: 2;
	height: 265px;

}

.skill-row2 p {

	font-size: 0.9rem;
}

}
